.git
.github
build
dist
installer
invoices
out_xml_folder
out_zip_folder
out_zip_folder2
out_zip_safe
automation_work
__pycache__
*.pyc
*.pyo
*.pyd
.venv
venv
config/google_credentials.json
config/google_token.json
*.xlsx
*.zip
*.spec
tmp

